html,
body {
    font-size: 16px;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
}

li {
    line-height: 1rem;
}

@media screen and (max-width: 991px) {

    html,
    body {
        font-size: 14px !important;
    }
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.badge-top {
    position: absolute;
    top: .1rem;
    left: 1.5rem;
    font-size: .4rem;
}

.navbar-icons {
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}

.navbar-icons>.nav-item.nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
}

.breadcrumb {
    background-color: transparent;
}

ol.breadcrumb>li.breadcrumb-item:not(:first-child)::before {
    content: ">"
}

ol.breadcrumb>li.breadcrumb-item>a,
ol.breadcrumb>li.breadcrumb-item>a:link {
    color: #444;
}

ol.breadcrumb>li.breadcrumb-item:last-child>a,
ol.breadcrumb>li.breadcrumb-item:last-child>a:link {
    color: #f0f0f0;
}

#carousel-thumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
}

#carousel-wrapper {
    position: relative;
}

div.carousel-indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100px;
}

div.carousel-indicators>ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

div.carousel-indicators ol>li {
    display: block;
    position: relative;
    flex: 1 1 10vh;
}

div.carousel-indicators ol>li>img {
    display: block;
    object-fit: cover;
}

#carousel-vertical-selector {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#carousel-vertical-selector ol {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}

#carousel-vertical-selector ol li {
    display: block;
    min-height: 1rem;
    padding: 0;
    margin: 0;
    flex: 1 1 100%;
}

#carousel-vertical-selector ol li img {
    object-fit: cover;
    width: 100%;
    max-width: 64px;
    margin: .2rem;
    opacity: .5;
    cursor: pointer;
}

#carousel-vertical-selector ol li img.active {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .navbar-icons {
        position: absolute;
        right: .1rem;
    }
}

.review-stars {
    font-size: .8rem;
}

.review-stars i::before {
    color: gold;
    font-size: 1rem;
}

.color-selector input[type="radio"] {
    opacity: 0;
}

.color-selector input[type="radio"]+label,
.color-selector input[type="radio"]:checked+label {
    display: block;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    background-color: #ccc;
    padding: 1px;
    position: relative;
}

.color-selector input[type="radio"]+label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: -2px;
    left: -2px;
}

.color-selector input[type="radio"]:checked+label::before {
    border-color: #000;
}

.color-selector input[type="radio"]:checked+label::before {
    border-color: #000;
}

.color-selector input[type="radio"][value="pink"]+label {
    background-color: pink;
}

.color-selector input[type="radio"][value="grey"]+label {
    background-color: grey;
}

.color-selector input[type="radio"][value="black"]+label {
    background-color: black;
}

.size-selector input[type="radio"] {
    opacity: 0;
}

.size-selector input[type="radio"]+label {
    display: block;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    position: relative;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    font-weight: bold;
}

.size-selector input[type="radio"]:checked+label {
    display: block;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #ccc;
}

.btn-pill {
    border-radius: 24px;
    font-size: .6rem;
    font-variant: small-caps;
    font-weight: bold;
    background-color: #55CFE1;
    color: #fff;
    height: 36px;
}

.qty-pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 64px;
    width: auto;
    border-radius: 24px;
    font-size: 1rem;
    font-variant: small-caps;
    font-weight: bold;
    border: 1px solid #000;
    height: 100%;
    width: 100%;
}

.qty-pill button {
    border: none;
    background-color: transparent;
    border-radius: 16px;
    width: 2rem;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .qty-pill {
        height: 3rem;
        padding: 0 1rem 0 1rem;
        max-width: 80%;
        justify-self: center;
        align-self: center;
        min-width: 80%;
    }

    .btn-pill {
        width: 80%;
    }

    .qty-pill button {
        width: 4rem;
    }
}

.btn-heart {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.btn-heart .mdi::before {
    font-size: 1rem;
}

.grey-area .nav-item.nav-link.active {
    border: 1px solid #000;
    border-radius: 24px;
    background-color: transparent;
    color: #000;
}
.grey-area .nav-item.nav-link {
    color: #999;
    font-size: .8rem;
    font-weight: bold;
}
.grey-area .girls-wrapper div.col {
    max-width: 25%;
}
.grey-area .girls-wrapper img {
    max-width: 100%;
}

.bg-light {
    background-color: #F6F6F8!important;
}

.tech-spec {
    font-size: .8rem;
}
.tech-spec .tshirt img {
    object-fit: cover;
    max-width: 100%;
}

.tech-spec div:first-child {
    text-align: right;
}
.tech-spec div:last-child {
    text-align: left;
}

.tech-spec i[class^="icon-"]::before {
    font-size: 2rem!important;
}

.text-justify {
    text-align-last: center;
}

@media screen and (max-width: 767px) {
    .tech-spec i[class^="icon-"]::before {
        font-size: 1.5rem !important;
    }
}

.you-may-like img {
    object-fit: cover;
    max-width: 100%;
    max-width: 100%;
}

.you-may-like .photo-wrapper {
    position: relative;
}
.you-may-like .card-title {
    font-size: 1rem;
    text-align: left;
}

.you-may-like .card {
    border: none;
}

.you-may-like .card .card-text {
    color: #999;
}

.price {
    font-size: .8rem;
    white-space: nowrap;
}

.price.discount-before {
    text-decoration: line-through;
}
.price.price.discount-after {
    color: #FF0000;
}

.product-variant-wrapper {
    display: flex;
    justify-content: center;
    height: 32px;
}

.product-variant-wrapper > .product-variant {
    width: 32px;
    height: 32px;
    margin: .1rem;
    padding: 0;
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-variant-wrapper>.product-variant::after {
    border: 1px solid #000;
    width: 32px;
    height: 32px;
    content: "";
    border: 1px solid #333;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 16px;
}
.product-variant-wrapper>.product-variant.photo img {
    object-fit: cover;
    width: 28px;
    height: 28px;
    border-radius: 14px;
}

.product-variant-wrapper>.product-variant.color>span{
    width: 28px;
    height: 28px;
    border-radius: 14px;
}

.product-variant-wrapper>.product-variant.color>span.pink {
    background-color: pink;
}

.product-variant-wrapper>.product-variant.color>span.black {
    background-color: black;
}

.product-variant-wrapper>.product-variant.color>span.green {
    background-color: #22BDB0;
}

.discount-sticker {
    top: 1rem;
    right: 1rem;
    display: block;
    background: #FF4E00;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    color: #fff;
    border-radius: 16px;
    overflow: hidden;
    font-weight: bold;
}

footer h3, footer h4 {
    font-weight: bold;
}

footer h4 {
    font-size: .8rem;
    padding-top: 1rem;
}

footer ul > li,
footer ul > li > a,
footer ul>li>a:link,
footer ul>li>a:visited,
footer ul>li>a:active
{
    color: #999;
    font-size: .8rem;
    line-height: 2rem;
}

address {
    display: block;
    font-size: .8rem;
}

address span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}

address span>[class^=icon] {
    font-size: 1.2rem;
}

address span>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.social-icons [class^="icon"]::before {
    color: #999;
    font-size: .8rem;
}