html,
body {
    font-size: 16px;
}

@media screen and (max-width: 991px) {

    html,
    body {
        font-size: 14px !important;
    }
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.badge-top {
    position: absolute;
    top: .1rem;
    left: 1.5rem;
    font-size: .4rem;
}

.navbar-icons {
    max-width: 200px;
    display: flex;
    justify-content: space-around;
}

.navbar-icons>.nav-item.nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
}

.breadcrumb {
    background-color: transparent;
}

ol.breadcrumb>li.breadcrumb-item:not(:first-child)::before {
    content: ">"
}

ol.breadcrumb>li.breadcrumb-item>a,
ol.breadcrumb>li.breadcrumb-item>a:link {
    color: #444;
}

ol.breadcrumb>li.breadcrumb-item:last-child>a,
ol.breadcrumb>li.breadcrumb-item:last-child>a:link {
    color: #f0f0f0;
}

#carousel-thumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
}

#carousel-wrapper {
    position: relative;
}

div.carousel-indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100px;
}

div.carousel-indicators>ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

div.carousel-indicators ol>li {
    display: block;
    position: relative;
    flex: 1 1 10vh;
}

div.carousel-indicators ol>li>img {
    display: block;
    object-fit: cover;
}

#carousel-vertical-selector {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#carousel-vertical-selector ol {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
}

#carousel-vertical-selector ol li {
    display: block;
    min-height: 1rem;
    padding: 0;
    margin: 0;
    flex: 1 1 100%;
}

#carousel-vertical-selector ol li img {
    object-fit: cover;
    width: 100%;
    max-width: 64px;
    margin: .2rem;
    opacity: .5;
    cursor: pointer;
}

#carousel-vertical-selector ol li img.active {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .navbar-icons {
        position: absolute;
        right: .1rem;
    }
}

.review-stars {
    font-size: .8rem;
}

.review-stars i::before {
    color: gold;
    font-size: 1rem;
}

.color-selector input[type="radio"] {
    opacity: 0;
}

.color-selector input[type="radio"]+label,
.color-selector input[type="radio"]:checked+label {
    display: block;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    background-color: #ccc;
    padding: 1px;
    position: relative;
}

.color-selector input[type="radio"]+label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: -2px;
    left: -2px;
}

.color-selector input[type="radio"]:checked+label::before {
    border-color: #000;
}

.color-selector input[type="radio"]:checked+label::before {
    border-color: #000;
}

.color-selector input[type="radio"][value="pink"]+label {
    background-color: pink;
}

.color-selector input[type="radio"][value="grey"]+label {
    background-color: grey;
}

.color-selector input[type="radio"][value="black"]+label {
    background-color: black;
}

.size-selector input[type="radio"] {
    opacity: 0;
}

.size-selector input[type="radio"]+label {
    display: block;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    position: relative;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    font-weight: bold;
}

.size-selector input[type="radio"]:checked+label {
    display: block;
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #ccc;
}