html {
    height: 100%;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-blend-mode: lighten;
}

h2 {
    font-size: .8rem;
    margin: 0 2rem 2rem 0;
}

h3 {
    font-size: .7rem;
}

h4 {
    font-size: .5rem;
}

p {
    font-size: .5rem;
}

div {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 20vh;
}

i {
    color: #999;
}

ul {
    list-style: none;
    padding: 0;
}

ul>li {
    line-height: inherit;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.container>section {
    max-width: 1280px;
}

footer {
    position: relative;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

button {
    font-size: .5rem;
}

hr {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #000;
    min-width: 8rem;
}

section {
    padding: 0;
    margin: 0;
}

section>header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-basis: max-content;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    border: 0 auto;
}

.head-text-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
    background: url(assets/images/anwar-hakim-rqCW58uo0uw-unsplash.jpg) no-repeat center;
    background-size: cover;
    min-height: 50vh;
    color: #fff;
}

.head-text-wrapper>div {
    display: inherit;
    flex-direction: inherit;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-bottom: 1rem;
}

.inline-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.theme-input {
    border: 1px solid #000;
    min-height: 1.5rem;
    padding: 0;
    line-height: 1rem;
}

.theme-button {
    background-color: #000;
    color: #fff;
    border: none;
    min-height: 1.5rem;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inline-form>.theme-button {
    border-radius: 0 3px 3px 0;
}

.three-boxes-wide-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.three-boxes-wide-wrapper .card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: .5rem;
    border-radius: 3px;
    min-height: 20vh;
    color: #fff;
    padding: .5rem;
    white-space: nowrap;
}

.three-boxes-wide-wrapper .card h3 {
    font-size: .5rem;
    margin: 0 0 .2rem 0;
}

.three-boxes-wide-wrapper .card a {
    font-size: .4rem;
}

.three-boxes-wide-wrapper .card a:active,
.three-boxes-wide-wrapper .card a:visited,
.three-boxes-wide-wrapper .card a:link {
    color: #fff;
}

.three-boxes-wide-wrapper .card:first-child {
    background: url(assets/images/lighting-square.jpg) center no-repeat;
    background-size: 100% auto;
    position: relative;
}

.three-boxes-wide-wrapper .card:nth-child(2) {
    background: url(assets/images/lighting-square.jpg) center no-repeat;
    background-size: 100% auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.three-boxes-wide-wrapper .card:nth-child(3) {
    background: url(assets/images/lighting-square.jpg) center no-repeat;
    background-size: 100% auto;
    position: relative;
}

.best-selling-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-selling-wrapper>header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.best-selling-wrapper .products-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.best-selling-wrapper .products-cards-wrapper .product-card {
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    min-width: 22%;
    margin: .2rem;
    border-radius: 3px;
}

.best-selling-wrapper .products-cards-wrapper .product-card>p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.best-selling-wrapper .products-cards-wrapper .product-card>p.product-name {
    font-weight: bold;
}

.best-selling-wrapper .products-cards-wrapper .product-card>p.product-price {
    color: #999;
    letter-spacing: -1px;
}

@media screen and (max-width: 767px) {
    .best-selling-wrapper .products-cards-wrapper .product-card {
        min-width: 44%;
    }
}

.best-selling-wrapper .products-cards-wrapper .product-card img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
    box-shadow: .1rem 0 .1rem #ccc;
    border-radius: 3px;
}

.blog-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: auto;
    margin: 1rem 0;
}

.blog-post-wrapper .blog-posts-cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    flex: 1;
}

.blog-post-wrapper .blog-posts-cards-wrapper .blog-post-card img {
    object-fit: contain;
    width: 100%;
    border-radius: 3px;
}

.blog-post-wrapper .blog-posts-cards-wrapper .blog-post-card {
    max-width: 25%;
    margin: .5rem;
    flex: 1 1 0;
}

@media screen and (max-width: 767px) {
    .blog-post-wrapper .blog-posts-cards-wrapper {
        display: flex;
        flex-direction: column;
    }

    .blog-post-wrapper .blog-posts-cards-wrapper .blog-post-card {
        min-width: 100%;
        margin: 0;
    }
}

.blog-post-wrapper .author {
    font-size: .4rem;
}

.blog-post-wrapper .post-title {
    font-weight: bold;
}

.blog-post-wrapper .post-abstract {
    font-size: .5rem;
    color: #333;
}

.newsletter-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 1rem 0;
}

.newsletter-wrapper>header {
    margin: 0;
}

.newsletter-wrapper .inline-form {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsletter-wrapper .inline-form>*:first-child {
    margin-right: .5rem;
    flex: 1 2 0;
}

.info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    width: 100%;
    min-height: 4rem;
}

.info-bar>.info-bar-card {
    height: 100%;
    min-height: 100%;
    display: flex;
    max-width: 25%;
}

@media screen and (max-width: 767px) {
    .info-bar {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }

    .info-bar>.info-bar-card {
        min-width: 40%;
    }
}

.info-bar>.info-bar-card>.card-info,
.info-bar>.info-bar-card>.card-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-bar>.info-bar-card>.card-info p,
.info-bar>.info-bar-card>.card-info h3 {
    font-size: .4rem;
    margin: 0;
}

footer .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 20%;
}

footer .footer-column h3 {
    font-size: .7rem;
}

footer .footer-column p {
    color: #888;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.social-icons i {
    margin: .2rem;
}

footer ul {
    font-size: .5rem;
    color: #888;
}

footer ul>li {
    line-height: 1rem;
}

footer .img-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

footer .img-grid img {
    object-fit: cover;
    max-width: 32%;
    margin: 1px;
}

footer .footer-columns {
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    footer .footer-columns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer .footer-columns .footer-column {
        min-width: 40%;
    }
}

.copyright {
    font-size: .3rem;
    margin: .5rem;
}